<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="parilka.css" type="text/css" >

    <title>Parilka</title>
</head>
<body>
    <header>
        <a href="#">
                <img src="img/arilka.png" alt="logo" class="logo">
        </a>
        <a href="#" class="ss">
            <h1>Parilka.com</h1>
        </a>
    </header>
    <div class="neopa">
        <div class="opa">
            <div align="center" class="base">

                <div class="inp1">
                    <p class="word-two">тут вводи слово на том языке на котором ты хочешь</p>
                    <input type="text" class="input1" >
                </div>
                <div class="inp2">
                    <p class="word-one">тут вводи слово на русском</p>
                    <input type="text" class="input2">
                </div>
            </div>
        </div>
    </div>
    <div class="but">
        <div class="inp3">
            <a href="#" class="ok">OK!</a>
        </div>
    </div>

    <footer>
        <div class="foot">
            <h3>Parilka</h3>
            <p class="footParagraph">My contact(Jazer)</p>
            <ul class="contact">
                <li><a href="https://www.youtube.com/channel/UCFilVD3oqFkGXbKeWoKjWqg"><img src="img/youtube.png" alt="tg" width="32px" height="32px" class="youtube"></a></li>
                <li><a href="https://t.me/Japan228777"><img src="img/telegram.png" alt="tg" width="32px" height="32px" class="tg"></a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>copyright &copy; 2024 Parilka. designed by <span>Jazer</span></p>
        </div>
    </footer>
    <script src="parilka.js"></script>


</body>
</html>