<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="parilka.css" type="text/css" >

    <title>Parilka</title>
</head>
<body>
    <header>
        <a href="#">
                <img src="img/arilka.png" alt="logo" class="logo">
        </a>
        <a href="#" class="ss">
            <h1>Parilka.com</h1>
        </a>
    </header>
    <div class="main">
        <p>Теперь давайте отгадывать слова! </p>
        <p>нажимайте на кнопку ниже и пишите перевод своих слов</p>
        <div class="osnova">
            <button class="ok">НАЧАТЬ!</button>
        </div>
    </div>
    <footer>
        <div class="foot">
            <h3>Parilka</h3>
            <p class="footParagraph">My contact(Jazer)</p>
            <ul class="contact">
                <li><a href="https://www.youtube.com/channel/UCFilVD3oqFkGXbKeWoKjWqg"><img src="img/youtube.png" alt="tg" width="32px" height="32px" class="youtube"></a></li>
                <li><a href="https://t.me/Japan228777"><img src="img/telegram.png" alt="tg" width="32px" height="32px" class="tg"></a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>copyright &copy; 2024 Parilka. designed by <span>Jazer</span></p>
        </div>
    </footer>
    <script src="func.js" type="module"></script>
    <script src="parilka1.js" type="module"></script>
    

</body>
</html>